#!/usr/bin/make -f
%:
	dh $@

DEB_CPPFLAGS_MAINT_APPEND += -DOSSOLOG_COMPILE
DEB_CFLAGS_MAINT_APPEND   += -Wall -Wmissing-prototypes -Wcast-align

export DEB_CPPFLAGS_MAINT_APPEND DEB_CFLAGS_MAINT_APPEND
