#!/usr/bin/make -f
%:
	dh $@

DEB_CPPFLAGS_MAINT_APPEND += -DOSSOLOG_COMPILE
DEB_CFLAGS_MAINT_APPEND   += -Wall -Wmissing-prototypes -Wcast-align
DEB_LDFLAGS_MAINT_APPEND  += -Wl,--as-needed

export DEB_CPPFLAGS_MAINT_APPEND DEB_CFLAGS_MAINT_APPEND
export DEB_LDFLAGS_MAINT_APPEND
